/* Header */

#header {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

#header img {
    height: 41px;
}

#header h1 {
    font-weight: 100;
    font-size: 30px;
    color: #666666;
    margin: 0 0 0 10px;
}

#header > a {
    display: inherit;
    text-decoration: none;
}

#header > a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.50) 50%, rgb(0, 0, 0) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}

/* Sections */

div[id*="section"] {
    margin-top: 12px;
}

div[id*="section"] .header {
    display: flex;
    cursor: pointer;
}

div[id*="section"] .header img {
    height: 30px;
    transition: transform 0.4s;
    transform: rotate(180deg);
}

div[id*="section"] .header h2 {
    display: inline;
    margin: 0 0 0 15px;
}

div[id*="section"] .content {
    display: none; /* Hide sections by default */
    margin: 5px 10px 0 10px;
}

/* Additional Files */

#datas-add-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

#datas-list div {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

#datas-list div *:not(:first-child) {
    margin-left: 5px;
}

#datas-list div img {
    height: 100%;
    padding: 2px 0;
    cursor: pointer;
}

/* Advanced tab */

#section-advanced .content .option-container { /* Option containers */
    margin-top: 4px;
}

#section-advanced .content .option-container > span { /* Option name */
    margin-right: 10px;
}

#section-advanced .content .multiple-input > img {
    height: 23px;
    vertical-align: middle;
    cursor: pointer;
}

#section-advanced .content .multiple-input > div {
    margin-left: 20px;
}

#section-advanced .content .multiple-input > div > div {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4px;
    margin-top: 2px;
}
#section-advanced .content .multiple-input > div > div.dual-value {
    grid-template-columns: 1fr 1fr auto;
}

#section-advanced .content .multiple-input > div > div > img {
    height: 100%;
    padding: 2px 0;
    cursor: pointer;
}

#section-advanced .content .input {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}

#section-advanced .content .input.with-browse {
    grid-template-columns: auto 1fr auto;
}

/* Current Command */

#current-command textarea {
    width: 100%;
}

/* Output */

#output {
    display: none; /* Hidden by default */
}

#output textarea {
    width: 100%;
    white-space: pre;
    overflow-y: hidden;
}

/* Common issues link formatting */

#common-issue-link {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}

#common-issue-link a {
    text-decoration: none;
    color: #458BC6
}

#common-issue-link a:hover {
    color: #1c79c7;
}

/* Package / Open Output Folder Buttons */

#package-button-wrapper {
    /*display: block; !* By default show the one  *!*/
    display: flex;
    justify-content: space-evenly;
}

#package-button, #open-output-folder-button {
    width: 100%;
    background-color: #458BC6;
    border: 1px solid #458BC6;
    font-size: 15px;
    color: white;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 0.3s;
}

#package-button:hover, #open-output-folder-button:hover {
    background-color: #1c79c7;
}

#open-output-folder-button {
    display: none; /* Default to not shown */
    margin-left: 4px;
}
