@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
