@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

/* Title / Header*/

#header {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

#header img {
    height: 41px;
}

#header h1 {
    font-weight: 100;
    font-size: 30px;
    color: #666666;
    margin: 0 0 0 10px;
}

#header > a {
    display: inherit;
    text-decoration: none;
}

#header > a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.50) 50%, rgb(0, 0, 0) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}

#mid { /* Global center alignment */
    margin: auto;
}

#content { /* Left text and selection split */
    display: grid;
    grid-gap: 0;
}

/* Left text on larger displays */

#info_bar {
    width: 250px;
    background-color: rgba(69, 139, 198, 0.15);
    display: none;
    padding: 8px;
}

#info_bar p {
    margin: 0;
}

#converter_settings { /* Selection root */
    margin: 0 10px 10px 10px;
    max-width: 800px
}

/* Section headers */

.section_header {
    margin: 10px 0 2px 0;
    font-weight: normal;
    font-size: 25px;
}

.section_header > a {
    cursor: pointer;
}

.expand { /* Tab expansion chevrons */
    background: url(img/chevron-square-up.svg) no-repeat center;
    height: 30px;
    margin-bottom: -4px;
    margin-right: 6px;
    width: 30px;
    display: inline-block;
    transform: rotate(180deg);
    transition: transform 0.4s;
    cursor: pointer;
}

.sub_header { /* Headers in tabs */
    font-size: 17px;
    margin: 10px 2px 4px 2px;
}

button { /* Generic button */
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

/* Choice buttons */

.btn_choice {
    border: 3px solid #458BC6;
    color: #458BC6;
    background: transparent;
    padding: 8px;
    margin-bottom: 2px;
    transition: border 0.3s;
}

.btn_choice_greyed {
    border: solid 3px #EEEEEE;
    color: lightgrey;
}

.btn_choice.btn_choice_greyed:hover {
    border: 3px solid #458BC6;
}

.info_btn { /* Information icon */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAq0lEQVR4XnWQywrDIBBF82P+WPtXebiSbJKtq0jAtVAEwW0WIZ16p04aWjpwcbge5tU0Nfq+V13XteV9QDVX8i/Qrei5LAtt28ZCXuADf9dKxzzPhEgpsRDwKqwatCiiaZrIe09aazLGMOicAwi1qIh5xGAw50z7vtM4juyB+QFDCFzNWnt6DEpr0bquPMIwDKcnrXkZMWOMrAv0XqZufhf4C/ycR6JW/nvwF51vE+IcomqCAAAAAElFTkSuQmCC) -0px -0px no-repeat;
    height: 10px;
    width: 10px;
    overflow: hidden;
    margin-left: .25em;
    vertical-align: middle;
    display: inline-block;
}

/* Main bottom button */

.btn_main {
    width: 100%;
    background-color: #458BC6;
    border: 1px solid #458BC6;
    font-size: 15px;
    color: white;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.btn_main:hover {
    background-color: #1c79c7;
}

.btn_search {
    background: transparent;
    border: 2px solid #458BC6;
    height: 27px;
    padding: 0 15px;
    transition: background 0.3s;
}

.btn_search:hover {
    background: #1c79c71a;
}

input, select { /* Input and drop-downs */
    padding: 4px;
    border: 1px solid #458BC6;
    margin-left: 6px;
}

.note { /* Small notes */
    font-size: 14px;
    font-style: italic;
    margin: 8px 0 0 0;
}

[id|=VALUE], [id|=COMMASPLIT] { /* Vertical spacing in advanced entries */
    margin-bottom: 2px;
}

.noselect { /* Don't select tab text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* Common issues link formatting */

#common-issue-link {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}

#common-issue-link a {
    text-decoration: none;
    color: #458BC6
}

#common-issue-link a:hover {
    color: #1c79c7;
}

[id|=VALUE] + .btn_search { /* Padding for search buttons by inputs */
    margin-left: 4px;
}